body {
    background-image: url("https://i.imgur.com/SN64QYM.jpg");
   font-family: Arial;
  }
  
  .menu {
    background-color: pink;
  }
   
  .menu ul {
   display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: black;
    text-decoration:none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-title {
    color: Black;
    text-align: center;
  }
  
  .site-subtitle {
    color: red;
    font-style: italic;
    text-align: center;
  }